body {
  font-family: 'Itim', cursive;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 120px;
  margin-top: 60px;
}

.modal-btn {
  display: block;

  /* margin: 0, auto; */
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Itim', cursive;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.modal-btn:hover {
  background-color: darkblue;
  transform: scale(1.2);
}

.timer {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600px;
  font-size: 60px;
}
